.course-category-card {
  border-radius: 3rem;
  height: 450px;
  width: 300px;
  &__wrapper {
  }
  display: grid;
  grid-template-rows: 6fr 4.5fr;
  justify-items: self-start;
  &__top {
    img {
      height: 100%;
      width: 100%;
      border-radius: 3rem 3rem 0 0;
      object-fit: cover;
    }
  }
  &__bottom {
    border-radius: 0 0 3rem 3rem;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-top: none;
    * {
      text-align: left;
    }
    &--liner {
      font-size: 1rem;
      color: #333;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      padding: 0.3rem 2rem;
    }
    &--name {
      font-size: 2rem;
      font-weight: 800;
      color: #333;
      padding: 0 1.5rem;
      position: relative;
      .sessions {
        font-size: 1rem;
        color: #7c7c7c;
        position: absolute;
        right: 2rem;
        top: 1rem;
      }
    }
    &--category {
      font-size: 1.4rem;
      padding: 0 1.5rem;
      color: #7a7a7a;
    }
    &--details {
      font-size: 1.2rem;
      padding: 0 1.5rem;
      color: #333;
    }
    .secondary-button {
      margin-left: 1.5rem;
    }
  }
}
