.homepage-banner {
  &__wrapper {
    padding-left: 7rem;
    padding-top: 7rem;
    display: grid;
    @include bpm-xxl {
      height: 60vw;
      grid-template-columns: 600px 1fr;
    }
    @include bpm-custom(1660px) {
      height: 56vw;
    }
    @include bpm-xl {
      height: 63vw;
      grid-template-columns: 425px 1fr;
    }
    @include bpm-lg {
      grid-template-columns: 375px 1fr;
      height: 60vw;
    }
    @include bpm-md {
      grid-template-columns: 300px 1fr;
      height: 65vw;
    }
    @include bpm-custom(875px) {
      height: 60vw;
    }
    @include bpm-custom(800px) {
      height: 65vw;
    }
    @include bpm-sm {
      grid-template-columns: 250px 1fr;
      height: 80vw;
      padding-left: 3rem;
    }
    @include bpm-custom(600px) {
      padding: 7rem 0 0 0;
      min-height: 90rem;
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
    }
    @include bpm-custom(460px) {
      min-height: 75rem;
    }
  }
  &__left {
    &--header {
      font-size: 6.5rem;
      margin-bottom: 8rem;
    }
    margin-top: 17rem;
    @include bpm-xxl {
      &--header {
        font-size: 8rem;
      }
    }
    @include bpm-xl {
      &--header {
        font-size: 6.2rem;
      }
    }
    @include bpm-lg {
      &--header {
        font-size: 5rem;
      }
    }
    @include bpm-md {
      margin-top: 12rem;
      &--header {
        font-size: 4rem;
      }
    }
    @include bpm-sm {
      margin-top: 7rem;
      &--header {
        font-size: 4rem;
      }
    }
    @include bpm-custom(600px) {
      margin-top: 3rem;
      &--header {
        margin-bottom: 3rem;
        font-size: 4.5rem;
        font-weight: 800;
      }
      padding: 0 3rem;
    }
    @include bpm-custom(460px) {
      &--header {
        font-size: 4rem;
        font-weight: 800;
      }
    }
  }
  &__right {
    position: relative;
    overflow: hidden;

    &--image-1 {
      position: absolute;
      right: 0rem;
      top: 0;
      width: 100%;
    }
    &--image-2 {
      position: absolute;
      right: -25rem;
      bottom: 0rem;
      width: 85%;
      z-index: 2;
    }
    @include bpm-xxl {
      &--image-1 {
        width: 80%;
      }
      &--image-2 {
        right: -15rem;
        width: 50%;
      }
    }
    @include bpm-custom(1660px) {
      &--image-1 {
        width: 80%;
      }
      &--image-2 {
        right: -15rem;
        width: 50%;
      }
    }
    @include bpm-xl {
      &--image-1 {
        width: 80%;
      }
      &--image-2 {
        right: -9rem;
        width: 50%;
      }
    }
    @include bpm-lg {
      &--image-1 {
        width: 70%;
      }
      &--image-2 {
        right: -7rem;
        width: 50%;
      }
    }
    @include bpm-md {
      &--image-1 {
        width: 80%;
      }
      &--image-2 {
        width: 50%;
      }
    }

    @include bpm-custom(800px) {
      &--image-1 {
      }
      &--image-2 {
        width: 60%;
        right: -7rem;
      }
    }
    @include bpm-sm {
      &--image-1 {
        width: 100%;
      }
      &--image-2 {
        width: 70%;
      }
    }
    @include bpm-custom(600px) {
      &--image-1 {
        width: 90%;
        top: 0;
        left: -5rem;
      }
      &--image-2 {
        width: 70%;
      }
    }
  }
}
