.single-course-banner {
  &__wrapper {
    // height: 70vh;
    padding: 0 7rem;
    // @include bpm-xl {
    //   height: 60vh;
    // }
    @include bpm-md {
      height: auto;
      padding: 5rem;
    }
    @include bpm-sm {
      padding: 0;
    }
  }
  display: grid;
  @include bp-xl {
    grid-template-columns: 45vw 1fr;
  }
  @include bpm-xl {
    grid-template-columns: 1fr 1fr;
  }
  @include bpm-md {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  height: 100%;
  @include bp-sm {
    margin-top: 4rem;
    border-radius: 3rem;
    border: 5px solid #fff;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 4rem 0 4rem 7rem;
    @include bpm-sm {
      padding: 4rem 0 4rem 3rem;
    }
    &--header {
      font-size: 5rem;
      font-weight: 900;
      // text-transform: capitalize;
      @include bpm-lg {
        font-size: 3.5rem;
      }
      @include bpm-sm {
        font-size: 4rem;
        padding-right: 2rem;
      }
    }
    &--content {
      font-size: 2rem;
      font-weight: 500;
      margin: 3rem 0;
      padding-right: 2rem;
      @include bpm-lg {
        font-size: 1.8rem;
        margin-bottom: 0rem;
      }
    }
    &--tags {
      margin-bottom: 4rem;
      * {
        font-size: 1.2rem;
      }
      display: flex;
    }
  }
  &__right {
    display: flex;
    align-items: flex-start;
    padding: 4rem 0;
    justify-content: center;
    img.fallback-image {
      width: 70%;
      border-radius: 2rem;
      @include bpm-md {
        margin-bottom: 4rem;
        width: 90%;
      }
    }
  }
  .single-course-banner-card {
    height: 40rem;
    width: 56rem;
    background-color: #fff;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.3);
    -webkit-appearance: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2rem;
    overflow: hidden;
    margin: 2rem 0;
    img {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
    h1 {
      font-size: 2rem;
      font-weight: 800;
      padding: 1rem 2rem 0 2rem;
      @include bpm-xs {
        font-size: 1.8rem;
      }
    }
    p {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 0 2rem;
      @include bpm-xs {
        font-size: 1.4rem;
        padding: 0.5rem 2rem 0 2rem;
      }
    }
    @include bpm-xl {
      width: 44rem;
      height: 30rem;
    }
    @include bpm-sm {
      width: 40rem;
      height: 30rem;
    }
    @include bpm-xs {
      width: 32rem;
      height: 25rem;
    }
  }
  .swiper-slide {
    width: 58rem !important;
    @include bpm-sm {
      width: 42rem !important;
    }
    @include bpm-xs {
      width: 34rem !important;
    }
  }
  .single-course-banner-slider {
    width: 58rem !important;
    @include bpm-sm {
      width: 100vw !important;
    }
    @include bpm-md {
      padding-bottom: 5rem !important;
    }
    .swiper-pagination {
      margin-bottom: 0rem !important;
      @include bpm-md {
        margin-bottom: 1rem !important;
      }
      &-bullet {
        background-color: #fcb444 !important;
      }
      &-bullet-active {
        background-color: #000 !important;
      }
    }
  }
}
