.homepage-callback {
  &__wrapper {
    // position: relative;
  }
  &__artwork {
    display: flex;
    justify-content: center;
    img {
      width: 45rem;
    }
    transform: translateY(15rem);
  }
  display: grid;
  grid-template-columns: 2fr 1fr;
  background: linear-gradient(
    rgba(255, 255, 255, 0.95),
    rgba(255, 255, 255, 0.95)
  );
  filter: drop-shadow(50px 60px 100px rgba(0, 0, 0, 0.05));
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4.8rem;
  border: 5px solid rgb(233, 233, 233);
  margin: 0 7rem 7rem 7rem;
  min-height: 35rem;
  padding: 0 7rem;
  &__left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    .primary-button {
      font-size: 3rem;
      height: 7rem;
      width: 40rem;
      img {
        width: 6rem;
        right: 0.5rem;
      }
    }
    &--header {
      font-size: 4.2rem;
      font-weight: 700;
      span {
        color: #f3705b;
      }
    }
    &--liner {
      font-weight: 400;
      font-size: 2.6rem;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    & > input {
      width: 400px;
    }
    input {
      height: 66px;
      border-radius: 8px;
      border: none;
      outline: none;
      box-shadow: 0px 0px 10px rgba(75, 0, 188, 0.2);
      -webkit-box-shadow: 0px 0px 8px rgba(75, 0, 188, 0.2);
      -webkit-appearance: none;
      padding: 0 1rem;
      font-size: 1.6rem;
    }
    &--contact {
      //   display: flex;
      &-country-code {
        width: 120px;
      }

      &-number {
        width: 260px;
        margin-left: 2rem;
      }
      label {
        position: relative;
      }
      .phone-validation-tooltip {
        position: absolute;
        top: -6rem;
        transform: translateY(-50%);
        right: 0;
        background-color: #fff;
        padding: 0.5rem 2rem;
        border-radius: 5rem;
        border: 1px solid #e47762;
        box-shadow: 0px 0px 8px rgba(75, 0, 188, 0.08);
        -webkit-box-shadow: 0px 0px 8px rgba(75, 0, 188, 0.08);
        -webkit-appearance: none;
        display: none;
        span {
          font-size: 1.4rem;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        @media screen and (max-width: 850px) {
          right: 0;
          top: -25%;
        }
        &.visible {
          display: block;
        }
      }
    }
  }
}
