.overflow-slider {
  &__wrapper {
    overflow-x: hidden;
    position: relative;
  }
  display: flex;
  align-items: center;

  &__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    height: 10rem;
    width: 10rem;
    border-radius: 10rem;
    img {
      width: 2.5rem;
    }
    &--prev {
      left: -5rem;
      cursor: pointer;
      img {
        transform: rotate(180deg) translateX(-2rem);
      }
    }
    &--next {
      right: -5rem;
      cursor: pointer;
      img {
        transform: translateX(-2rem);
      }
    }
  }
}
